<%- include ('../header') -%>
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin/index">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">Học viên</li>
    </ol>


    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <!-- <i class="fas fa-table"></i>
            Data Table Example -->
            <div>
                <a data-toggle="modal" data-target="#exampleModal" style="    color: #fff;
              float: right;
              height: 30px;
              font-weight: bold;
              font-size: 12px;
              text-shadow: none;
              min-width: 110px;
              border-radius: 0;
              line-height: 29px;
              background-color: #269abc;
              border-color: #c1c1c1;
              float: right;
              padding-left: 3%;"><i class="fas fa-plus"></i> Add </a>

            </div>

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="canhgiua">STT</th>
                            <th class="canhgiua">Tên học viên</th>
                            <th class="canhgiua">Giới tính</th>
                            <th class="canhgiua">Số điện thoại</th>
                            <th class="canhgiua">Email</th>
                            <th class="canhgiua">Địa chỉ</th>
                            <th class="canhgiua">Điểm</th>
                            <th class="canhgiua">Lớp</th>
                            <th class="canhgiua">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var stt = 0 %>

                        <% data.forEach(dulieu => { %>
                        <% stt++ %>
                        <tr>
                            <td class="canhgiua"><%= stt %></td>
                            <td class="canhgiua"><%= dulieu.tenkhachhang %></td>
                            <td class="canhgiua"><%= dulieu.gioitinh %></td>
                            <td class="canhgiua"><%= String(dulieu.sdt).replace(/(.)(?=(\d{3})+$)/g,'$1 ') %></td>
                            <td class="canhgiua"><%= dulieu.email %></td>
                            <td class="canhgiua"><%= dulieu.diachi %></td>
                            <% if(dulieu.diem > 5) { %>
                                <td class="canhgiua"><span class="badge badge-pill badge-success"> Được cấp bằng </span></td>
                            <% } else { %>
                                <td class="canhgiua"><span class="badge badge-pill badge-warning">Chưa đạt điều kiện</span></td>
                            <% } %> 
                            
                            <td class="canhgiua"><%= dulieu.tenlophoc %></td>
                            <td class="canhgiua" style="text-align: center;">
                                <a href="#" style="color: greenyellow;margin-left: -10%;" class="edit" title="Edit"
                                    data-toggle="modal" data-target="#updatedangky<%= dulieu.id %>">
                                    <i class="fas fa-edit"></i>&nbsp;</i></a>

                                <a href="#" style="color: red;margin-left: 15%;" class="delete" title="Delete"
                                    data-toggle="modal" data-target="#delete<%= dulieu.id %>">
                                    <i class="far fa-trash-alt"></i></a>

                                <div class="modal  fade" id="delete<%= dulieu.id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa !!!</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <a class="btn btn-primary"
                                                    href="/admin/dangky/xoadangky/<%= dulieu.id %>">Yes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="updatedangky<%= dulieu.id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">SỬA HỌC VIÊN</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" action="/admin/dangky/<%= dulieu.id %>">
                                                    <div class="form-group col-lg-12" style="color: red;" id="errorhvu">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">TÊN HỌC
                                                            VIÊN:</label>
                                                        <input required value="<%= dulieu.tenkhachhang %>" type="text"
                                                            name="tenkhachhang" class="form-control"
                                                            id="recipient-name">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">SỐ ĐIỆN
                                                            THOẠI:</label>
                                                        <input required value="<%= dulieu.sdt %>" type="text"
                                                            pattern="[0-9]{9,11}" name="sdt" class="form-control"
                                                            id="recipient-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">EMAIL:</label>
                                                        <input required value="<%= dulieu.email %>" type="email"
                                                            name="email" class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">ĐIẠ
                                                            CHỈ:</label>
                                                        <input required value="<%= dulieu.diachi %>" type="text"
                                                            name="diachi" class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">GIỚI
                                                            TÍNH:</label>
                                                        <input value="<%= dulieu.gioitinh %>" type="text"
                                                            name="gioitinh" class="form-control" id="recipient-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">KHÓA HỌC
                                                            :</label>
                                                        <select required name="id_lophoc" class="form-control">
                                                            <option value="<%= dulieu.id_lophoc %>">
                                                                <%= dulieu.tenlophoc %> --
                                                                <%=  date('{dd}/{mm}/{yyyy}', dulieu.thoigianbatdau)  %>
                                                            </option>

                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">THANH
                                                            TOÁN:</label>
                                                        <input pattern="[0-9]{0,8}" value="<%= dulieu.thanhtoan %>"
                                                            type="text" name="thanhtoan" class="form-control"
                                                            id="recipient-name">
                                                    </div>
                                                    <!-- <div class="form-group">
                                                        <label for="message-text" class="col-form-label">TRẠNG
                                                            THÁI:</label>
                                                        <select name="trangthai" class="form-control">
                                                            <option value="1">ĐANG HỌC</option>
                                                            <option value="0">KHÔNG</option>
                                                        </select>
                                                    </div> -->

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">THOÁT</button>

                                                        <input type="submit" class="btn btn-primary"
                                                            value="Sửa Học Viên">
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>


                        </tr>


                        <%}); %>

                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>


<%- include ('addhocvien') -%>
<%- include ('../footer') -%>