<%- include ('../header') -%>
<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
  </ol>


  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <!-- <i class="fas fa-table"></i>
            Data Table Example -->
      <div>
               <a data-toggle="modal" data-target="#exampleModal" style="    color: #fff;
               float: right;
               height: 30px;
               font-weight: bold;
               font-size: 12px;
               text-shadow: none;
               min-width: 110px;
               border-radius: 0;
               line-height: 29px;
               background-color: #269abc;
               border-color: #c1c1c1;
               float: right;
               padding-left: 3%;"><i class="fas fa-plus"></i> Add </a>
      </div>

    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="canhgiua">STT</th>
              <th class="canhgiua">Tên tài khoản</th>
              <th class="canhgiua">Email</th>
              <th class="canhgiua">Quyền</th>
              <th class="canhgiua">Trạng thái</th>
              <th class="canhgiua">Tác vụ</th>

            </tr>
          </thead>
          <tbody>
            <% let stt =0 %>
            <% data.forEach(dulieu => { %>
            <% stt++ %>
            <tr>
              <td class="canhgiua"><%= stt %></td>
              <td class="canhgiua"><%= dulieu.tentaikhoan %></td>
              <td class="canhgiua"><%= dulieu.email  %></td>
              <td class="canhgiua"><%= dulieu.quyenhang %></td>
              <td class="canhgiua"> <% if(dulieu.trangthai == 1) { %>
                Đang sử dụng
                <% } else {%>
                Không sử dụng
                <% } %>
              </td>
              <td class="canhgiua" style="text-align: center;">
                <a href="#" style="color: greenyellow;" class="edit" title="Edit" data-toggle="modal"
                  data-target="#updatetk<%= dulieu.id %>">
                  <i class="fas fa-edit"></i>&nbsp;</i></a>

                <a href="#" style="color: red;margin-left: 15%;" class="delete" title="Delete" data-toggle="modal"
                  data-target="#delete<%= dulieu.id %>">  <i class="far fa-trash-alt"></i></a>

                <div class="modal  fade" id="delete<%= dulieu.id %>" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa !!!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="/admin/taikhoan/<%= dulieu.quyenhang%>/<%= dulieu.id %>">Yes</a>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="modal fade" id="updatetk<%= dulieu.id %>" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">SỬA TÀI KHOẢN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="/admin/taikhoan/<%= dulieu.quyenhang%>/<%= dulieu.id %>">
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">TÊN TÀI KHOẢN:</label>
                            <input required type="text" minlength="6" name="tentaikhoan" class="form-control" id="recipient-name"
                              value="<%= dulieu.tentaikhoan %>">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Email:</label>
                            <input required disabled type="email" name="email" class="form-control" id="recipient-name"
                              value="<%= dulieu.email %>">
                              <input hidden  type="text" name="quyenhang" class="form-control" id="recipient-name"
                              value="<%= dulieu.quyenhang %>">
                          </div>

                          <div class="form-group">
                            <label for="message-text" class="col-form-label">TRẠNG
                              THÁI:</label>
                            <select  name="trangthai" class="form-control">
                              <% if(dulieu.trangthai == 1 ) {%>
                              <option value="1">ĐANG SỬ DỤNG</option>
                              <option value="0">KHÔNG SỬ DỤNG</option>
                              <% } else {%>
                              <option value="0">KHÔNG SỬ DỤNG</option>
                              <option value="1">ĐANG SỬ DỤNG</option>
                              <% } %>
                            </select>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">THOÁT</button>

                            <input type="submit" class="btn btn-primary submit1" value="SỬA TÀI KHOẢN">
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
              </td>

            </tr>


            <%}); %>


          </tbody>
        </table>
      </div>
    </div>    
  </div>
</div>


<%- include ('addtk') -%>
<%- include ('../footer') -%>