<%- include ('../header') -%>
<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin/index">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">THỜI KHÓA BIỂU</li>
  </ol>


  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <!-- <i class="fas fa-table"></i>
            Data Table Example -->
      <div>
      </div>

    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="canhgiua">STT</th>
              <th class="canhgiua">Tên lớp học</th>
              <th class="canhgiua">Giảng viên</th>
              <th class="canhgiua">Thời gian học</th>
              <th class="canhgiua">Phòng học</th>
              <th class="canhgiua">Trạng thái</th>             

            </tr>
          </thead>
          <tbody>
            <% var stt = 0 %>
            <% data.forEach(dulieu => { %>
            <% stt++ %>
            <tr>
              <td class="canhgiua"><%= stt %></td>
              <td class="canhgiua"><%= dulieu.tenlophoc %></td>
              <td class="canhgiua"><%= dulieu.hoten %></td>
              <td class="canhgiua"><%=  dulieu.thoigianhoc  %></td>
              <td class="canhgiua"><%=  dulieu.tenphonghoc  %></td>
              <% if(dulieu.trangthai == 1) { %>
              <td class="canhgiua"> Sắp khai giảng </td>
              <% }  %>
              <%  if(dulieu.trangthai == 2) { %>
              <td class="canhgiua"> Đang học </td>
              <% } %>    
              <%  if(dulieu.trangthai == 3) { %>
                <td class="canhgiua"> Đang chờ duyệt </td>
                <% } %>              
              

            </tr>


            <%}); %>


          </tbody>
        </table>
      </div>
    </div>
   
  </div>



</div>
<%- include ('../footer') -%>