<%- include ('./headerOut.ejs') -%>
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">Bài viết cá nhân</li>
    </ol>


    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <!-- <i class="fas fa-table"></i>
            Data Table Example -->
            <!-- <div><button data-toggle="modal" data-target="#exampleModal" style="color: #fff;float: right;
              height: 30px;
              font-weight: bold;
              font-size: 12px;
              text-shadow: none;
              min-width: 100px;
              border-radius: 50px;
              line-height: 13px;
              background-color: #269abc;
              border-color: #1b6d85 ; float:right;"><i class="fas fa-plus"></i> Add </button>
            </div> -->

        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tiêu đề</th>
                            <th>Nội dung</th>
                            <th>Khóa học</th>
                            <th>Trạng thái</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% let stt = 0  %>
                        <% data.forEach(dulieu => { %>
                        <% stt++ %>


                        <tr>
                            <td><%= stt %></td>
                            <td><%= dulieu.tieude %></td>
                            <td><%- dulieu.noidung %></td>
                            <td><%= dulieu.tenkhoahoc %></td>
                            <td> <% if(dulieu.trangthai == 1) { %>
                                Đang sử dụng
                                <% } else {%>
                                Không sử dụng
                                <% } %>
                            </td>

                            <td>
                                <a href="/forum/chi-tiet/<%= dulieu.id %>" style="color: gold;"
                                    class="edit" title="Edit">
                                    <i class="fas fa-eye">&nbsp;</i></a>
                                <a href="/taikhoan/diendan/update/<%= dulieu.id %>" style="color: greenyellow;"  ><i class="far fa-edit"></i>
                                </a>
                                
                                <a href="#" style="color: red;" class="delete" title="Delete"
                                    data-toggle="modal" data-target="#delete<%= dulieu.id %>"><i
                                        class="fas fa-trash">&nbsp;</i></a>
                                <div class="modal  fade" id="delete<%= dulieu.id %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa !!!</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <a class="btn btn-primary"
                                                    href="/taikhoan/diendan/delete/<%= dulieu.id %>">Yes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </td>

                        </tr>


                        <%}); %>


                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
  
</div>


<%- include ('./footerOut.ejs') -%>