<%- include ('./headerOut.ejs') -%>
<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">THỜI KHÓA BIỂU</li>
  </ol>


  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <!-- <i class="fas fa-table"></i>
            Data Table Example -->


    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên lớp học</th>
              <th>Giảng viên</th>
              <th>Thời gian học</th>
              <th>Phòng học</th>
              <th>Trạng thái</th>
            </tr>
          </thead>

          <tbody>
            <% var stt = 0 %>
            <% data.forEach(dulieu => { %>
            <% stt++ %>
            <tr>
              <td><%= stt %></td>
              <td><%= dulieu.tenlophoc %></td>
              <td><%= dulieu.hoten %></td>
              <td><%=  dulieu.thoigianhoc  %></td>
              <td><%=  dulieu.tenphonghoc  %></td>
              <% if(dulieu.trangthai == 2) { %>
              <td> Đang học </td>
              <% }  %>
              <%  if(dulieu.trangthai == 1) { %>
              <td> Sắp khai giảng </td>
              <% } %>
            </tr>
            <%}); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>



<%- include ('./footerOut.ejs') -%>