<%- include ("../header") -%>
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_text_inner">
            <h4>CHI TIẾT</h4>
            <ul>
                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a></li>
                <li><a href="/forum/baiviet/5"><i class="fa fa-angle-right" aria-hidden="true"></i>Forum</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Chi tiết</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================End Banner Area =================-->
<section class="contact_us_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <article class="question question-type-normal">
                    <h2>
                        <%= data[0][0].tieude %>
                    </h2>
                    <div class="question-author">
                        <img alt="" src="../../../../uploadimg/<%= data[0][0].hinhanh %> ">
                    </div>
                    <div class="question-inner">
                        <div class="clearfix"></div>
                        <div class="question-desc">
                            <%- data[0][0].noidung %>
                        </div>
                        <span class="question-category"><i class="fa fa-folder-open-o"></i>
                            <%- data[0][0].tenkhoahoc %></span>
                        <span class="question-date"><i
                                class="fa fa-clock-o"></i><%=  date('{dd}-{mm}-{yyyy}', data[0][0].createdAt)  %></span>

                    </div>
                </article>
                <div id="respond" class="comment-respond page-content clearfix">
                    <div class="boxedtitle page-title">
                        <h2>Bình luận</h2>
                    </div>

                    <% if(!user.tentaikhoan) { %>
                    <span style="color: red"> (Bạn vui lòng đăng nhập để thêm bình luận) </span>
                    <% } %>
                    <input type="hidden" name="_token" value="MjFkPaJTeRGvfOf7dxp0cyBj9tjcMqLgGJ8NLKQO">
                    <input type="hidden" id="forum_subject" value="109">

                    <form name="traloibv"  method="POST"
                        action="forum/chi-tiet/<%=data[0][0].id %>">
                        <div id="respond-textarea">
                            <p>
                                <label class="required" for="comment">Nội dung <span>*</span></label>
                                <p id="noidungtl" style=" margin-left: 2%;color: crimson;"></p>
                                <div class="form-group col-lg-12">
                                    <textarea name="noidungtraloi" id="ckeditor"></textarea>
                                </div>
                            </p>
                        </div>
                        <p class="form-submit">
                            <input style="background-color: #5FBDDF;display: block;
                        width: 100%;box-sizing: border-box;
    margin: 0;color: #FFF;font-size: 14px;padding: 7px 15px;" type="submit" value="Trả lời">
                        </p>
                    </form>
                </div>
                <div id="commentlist" class="page-content">
                    <div class="boxedtitle page-title">
                        <h2>Bình luận </h2>
                    </div>
                    <ol class="commentlist clearfix" id="add-cmt">
                        <% let so = 0 %>
                        <% comment[0].forEach(dulieu => { %>
                        <% so++ %>
                        <li class="comment">
                            <div class="comment-body comment-body-answered clearfix">
                                <div class="avatar"><img alt="Jones James"
                                        src="../../../../uploadimg/<%= dulieu.hinhanh  %>">
                                </div>
                                <div class="comment-text">
                                    <div class="author clearfix">
                                        <div class="comment-author"><a href="#"><%= dulieu.tentaikhoan  %></a></div>
                                        <div class="comment-meta">
                                            <div class="date"><i
                                                    class="fa fa-clock-o"></i><%=  date('{dd}-{mm}-{yyyy}', dulieu.createdAt)  %>
                                            </div>
                                        </div>
                                        <a style="display: none;" onClick="open_reply(this.id)" id="dongReply<%- so %>"
                                            class="comment-reply" name="dong" value="62"><i
                                                class="fa fa-mail-reply "></i>Đóng</a>
                                        <a class="comment-reply ReplydongReply<%- so %> " value="62"
                                            onClick="open_reply(this.id)" id="Reply<%- so %>"><i
                                                class="fa fa-mail-reply"></i>Trả lời</a>

                                    </div>
                                    <div class="text">
                                        <%- dulieu.noidungtraloi  %>
                                    </div>
                                </div>
                            </div>
                            <ul style="display: none;" class="children traloicmdongReply<%- so %>"
                                id="traloicmReply<%- so %>">
                                <div id="re-comment62"></div>
                                <div id="getck-recomment62">
                                    <div class="boxedtitle page-title">
                                        <h2>Trả lời</h2>
                                    </div>
                                    <% if(!user.tentaikhoan) { %>
                                    <span style="color: red"> (Bạn vui lòng đăng nhập để thêm bình luận) </span>
                                    <% } %>
                                    <input type="hidden" name="_token" value="mhRHrxjVHDfSQn8mrmjStoXwl2QynmqivAYACleO">
                                    <input type="hidden" id="id_cmt" value="62">
                                    <form onsubmit="return validateReLy()" name="traloi" method="POST"
                                        action="/forum/chi-tiet/<%- dulieu.id  %>">
                                        <div class="row" id="respond-textarea" style="margin-right: 10px">
                                            <div class="col-md-12">
                                                <label class="required" for="comment">Comment<span>*</span></label>
                                                <p id="noidungtl1" style="margin-left: 2%;color: crimson;"></p>
                                                <textarea name="noidungtraloi"
                                                    id="ckeditor1Reply<%- so %>">--<%- dulieu.tentaikhoan%>-- <br></textarea>

                                            </div>
                                        </div>
                                        <div class="row" style="margin-right: 10px">
                                            <div class="col-md-12">
                                                <input style="background-color: #5FBDDF;display: block;
                                            width: 100%;box-sizing: border-box;
                        margin: 0;color: #FFF;font-size: 14px;padding: 7px 15px;" name="submit" type="submit"
                                                    id="send-re-comment" value="Trả lời" class="button small color"
                                                    style="width: 100%">
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </ul><!-- End children -->
                        </li>
                        <%})%>
                    </ol><!-- End commentlist -->
                </div><!-- End page-content -->
            </div><!-- End main -->
            <%- include ('../forums/taobv.ejs') -%>
        </div>
    </div>
</section>
<!--================End Contact Us Area =================-->
<!--================End Static Area =================-->
<script>
    function open_reply(clicked_id) {
        if (clicked_id.slice(0, 4) === `dong`) {
            let dongtl = document.getElementsByClassName(`traloicm` + clicked_id)            
            for (var i = 0; i < dongtl.length - 1; i++) {                                  
                dongtl[i].style.display = 'none';
               };              
                document.getElementById(clicked_id).style.display = 'block';
                document.getElementById(`dong` + clicked_id).style.display = 'none';
            } else {
                document.getElementById(`traloicm` + clicked_id).style.display = 'block';
                document.getElementById(clicked_id).style.display = 'none';
                document.getElementById(`dong` + clicked_id).style.display = 'block';
            }

        }




</script>
<script type="text/javascript">
let ck = 100;
for(var i = 0 ; i < ck ; i++){
    CKEDITOR.replace(`ckeditor1Reply`+i+``, {
      "extraPlugins" : 'imagebrowser',
          "imageBrowser_listUrl" : "/files"
    });
}  
    
  </script>
<%- include ('../footer') -%>