<%- include ('../header') -%>
<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin/index">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">GIẢNG VIÊN</li>
  </ol>


  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <!-- <i class="fas fa-table"></i>
            Data Table Example -->
      <div>
        <a data-toggle="modal" data-target="#exampleModal" style="    color: #fff;
               float: right;
               height: 30px;
               font-weight: bold;
               font-size: 12px;
               text-shadow: none;
               min-width: 110px;
               border-radius: 0;
               line-height: 29px;
               background-color: #269abc;
               border-color: #c1c1c1;
               float: right;
               padding-left: 3%;"><i class="fas fa-plus"></i> Add </a>
      </div>

    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="canhgiua">STT</th>
              <th class="canhgiua">Tên nhân viên</th>
              <th class="canhgiua">Số điện thoại</th>
              <th class="canhgiua">Email</th>
              <th class="canhgiua">Địa chỉ</th>
              <th class="canhgiua">Giới tính</th>
              <th class="canhgiua">Lĩnh vực</th>
              <th class="canhgiua">Trạng thái</th>
              <th class="canhgiua">Hình ảnh</th>
              <th class="canhgiua">Tác vụ</th>
            </tr>
          </thead>
          <tbody>
            <% var stt= 0 %>
            <% data.forEach(dulieu => { %>
            <% stt++ %>
            <tr>
              <td class="canhgiua"><%= stt %></td>
              <td class="canhgiua"><%= dulieu.hoten %></td>
              <td class="canhgiua"><%= String(dulieu.sdt).replace(/(.)(?=(\d{3})+$)/g,'$1 ')  %></td>
              <td class="canhgiua"><%= dulieu.email %></td>
              <td class="canhgiua"><%= dulieu.diachi %></td>
              <td class="canhgiua"><%= dulieu.gioitinh %></td>
              <td class="canhgiua"><%= dulieu.linhvuc %></td>
              <% if(dulieu.trangthai ===0){ %>
              <td class="canhgiua"><span class="badge badge-pill badge-warning"> Tạm nghĩ </span></td>
              <% } %>
              <% if(dulieu.trangthai ===1){ %>
              <td class="canhgiua"><span class="badge badge-pill badge-success"> Có làm </span></td>
              <% } %>
              <td class="canhgiua"><img style="width: 140px; height: 140px"
                  src="../../../../uploadimg/<%= dulieu.hinhanh %>" alt="">
              </td>
              <td class="canhgiua" style="text-align: center;">
                <a href="#" style="color: greenyellow;margin-left: -10%;" class="edit" title="Edit" data-toggle="modal"
                  data-target="#updatenv<%= dulieu.id %>">
                  <i class="fas fa-edit"></i>&nbsp;</i></a>

                <a href="#" style="color: red;margin-left: 15%;" class="delete" title="Delete" data-toggle="modal"
                  data-target="#delete<%= dulieu.id %>"> <i class="far fa-trash-alt"></i></a>

                <div class="modal  fade" id="delete<%= dulieu.id %>" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa !!!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary"
                          href="/admin/giangvien/xoa/<%= dulieu.id %>/<%= dulieu.hinhanh %>">Yes</a>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="modal fade" id="updatenv<%= dulieu.id %>" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">SỬA GIẢNG VIÊN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="/admin/giangvien/<%= dulieu.id %>" enctype="multipart/form-data">
                          <div class="form-group col-lg-12" style="color: red;" id="errornv1"></div>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">TÊN GIẢNG VIÊN:</label>
                            <input required value="<%= dulieu.hoten %>" type="text" name="hoten" class="form-control"
                              id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">SỐ ĐIỆN THOẠI:</label>
                            <input required value="<%= dulieu.sdt %>" type="text" pattern="[0-9]{9,11}" name="sdt"
                              class="form-control" id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">EMAIL:</label>
                            <input required value="<%= dulieu.email %>" type="email" name="email" class="form-control"
                              id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">ĐIẠ CHỈ:</label>
                            <input required value="<%= dulieu.diachi %>" type="text" name="diachi" class="form-control"
                              id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">GIỚI TÍNH:</label>
                            <input required value="<%= dulieu.gioitinh %>" type="text" name="gioitinh"
                              class="form-control" id="recipient-name">

                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">LĨNH VỰC:</label>
                            <input required value="<%= dulieu.linhvuc %>" type="text" name="linhvuc"
                              class="form-control" id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">TRẠNG THÁI:</label>
                            <select name="trangthai" class="form-control">

                              <% if(dulieu.trangthai == 0) { %>
                              <option value="0">NGHĨ</option>
                              <option value="1">CÓ LÀM</option>
                              <% }  %>
                              <%  if(dulieu.trangthai == 1) { %>
                              <option value="1">CÓ LÀM</option>
                              <option value="0">NGHĨ</option>
                              <% } %>
                            </select>
                          </div>
                          <div class="file-field">
                            <div class="z-depth-1-half mb-4">
                              <img src="../../../../uploadimg/<%= dulieu.hinhanh %>" id="profile-img-tag" width="100%"
                                height="200px" />
                            </div>
                            <div class="d-flex justify-content-center">
                              <div class="btn btn-mdb-color btn-rounded float-left">
                                <span>Hình ảnh mới</span>
                                <img  id="<%= dulieu.id %>" alt="your image" width="100%"
                                height="200px"  />
                                <input type="file" name="hinhanh"
                                  onchange="document.getElementById('<%= dulieu.id %>').src = window.URL.createObjectURL(this.files[0])">
                                <input value="<%= dulieu.hinhanh %>" type="text" hidden name="hinhanh" id="profile-img">
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">THOÁT</button>

                            <input type="submit" class="btn btn-primary" value="SỬA GIẢNG VIÊN">
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
              </td>

            </tr>


            <%}); %>


          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>


<script>
  var loadFile = function (event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function () {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>

<%- include ('addnv') -%>
<%- include ('../footer') -%>