<%- include ("header") -%>
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_text_inner">
            <h4>HỎI VÀ ĐÁP</h4>
           
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================End Banner Area =================-->
<section class="contact_us_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="page-content ask-question">
                    <div class="contact_form boxedtitle page-title">
                        <div class="main_title">
                            <h2>Tạo Bài Viết</h2>
                            <% if(!user.tentaikhoan) { %>
                            <p style="color: red;">Bạn vui lòng đăng nhập trước khi tạo bài viết.</p>
                            <% } %> 
                        </div>
                        <div class="form-style form-style-3" id="question-submit">
                            <form onsubmit="return validateTaoBV()" name="taobv" class="contact_us_form row" action="/forum/hoi-bai" method="post"
                                id="contactForm" novalidate="novalidate">
                                <div class="form-group col-lg-12">
                                    <input required type="text" class="form-control" id="subject" name="tieude"
                                        placeholder="TIÊU ĐỀ">
                                        <p id="demo" style="color: crimson;"></p>
                                </div>
                                <div class="form-group col-lg-12">
                                    <select name="id_khoahoc" style="height: 50px" id="message" class="form-control">
                                        <option  value="">Xin chọn khóa học</option>
                                        <% data.forEach(dulieu => { %>
                                            <% if(dulieu.trangthai == 1 ) {%>
                                        <option value="<%= dulieu.id %>"><%= dulieu.tenkhoahoc %></option>
                                        <% } %>
                                        <% })%>
                                       
                                    </select>
                                    <p id="demo1" style="color: crimson;"></p>
                                </div>
                                <div class="form-group col-lg-12">
                                    <textarea required name="noidung" id="ckeditor"></textarea>
                                    <p id="demo2" style="color: crimson;"></p>
                                </div>
                                <div class="form-group col-md-12">
                                    <button type="submit" value="submit" class="btn submit_btn2 form-control">GỬI BÀI
                                        VIẾT</button>
                                </div>
                            </form>
                        </div>
                    </div><!-- End page-content -->
                </div>
            </div><!-- End main -->

            
            <%- include ('./forums/taobv.ejs') -%>


        </div>
    </div>
</section>
<!--================End Contact Us Area =================-->
<!--================End Static Area =================-->
<%- include ('footer') -%>