<%- include ("header") -%>


<!--================Banner Area =================-->
<section class="banner_area">
    <!-- <img src="../../../../../upload/course.jpg" style="background-size: cover;position: absolute; height: 100%; width: 100%;" alt="Italian Trulli"> -->
          
    <div class="container">
        <div class="banner_text_inner">
            <h4>TRUNG TÂM ĐÀO TẠO TIN HỌC FANCY</h4>
            <ul>
                <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>38 Nguyễn Lâm, Phường 6, Quận 10, TP.HCM</a></li>
               
        </div>
    </div>
</section>
<!--================End Banner Area =================-->


<!--================Latest News Area =================-->
<section class="latest_news_area p_100">
    <div class="container">
        <div class="sec-title">
            <h2>LỊCH KHAI GIẢNG</h2>
            <h3>38 Nguyễn Lâm, Phường 6, Quận 10, TP.HCM</h3>
            <div class="line"></div>
          </div>
        <div class="l_news_inner">
            <div class="row">
                <% data.forEach(dulieu => { %>
                <div class="col-md-4 mt-100">
                    <div class="pricing-table" style="height:680px">
                        <div class="pricing-header">
                            <div class="thumb">
                                
                                <img class="img-responsive img-fullwidth"
                                    src="../../../uploadimg/<%= dulieu.hinhanh  %>" alt="">
                               

                            </div>
                        </div>
                        <div class="pricing-title" style="text-transform: none;height:70px"><a
                                href="https://khoapham.vn/lap-trinh-mql.html" target="_blank">KHÓA HỌC LẬP TRÌNH
                                <%= dulieu.tenlophoc  %></a></div>
                        <div class="pricing-feature">
                            <ul>
                                <li><strong>Khai giảng:</strong>
                                    <%=  date('{dd}-{mm}-{yyyy}',  dulieu.thoigianbatdau )  %> </li>
                                <li><strong>Thời gian:</strong> <%= dulieu.thoigianhoc  %></li>
                                <li><strong>Thời lượng:</strong> <%= dulieu.thoiluonghoc  %></li>
                                <li><strong>Học phí:</strong>
                                    <%= String(dulieu.phidichvu).replace(/(.)(?=(\d{3})+$)/g,'$1, ') %></li>
                                <li><strong>Địa điểm học:</strong> <a href="http://khoapham.vn/lienhe.html"
                                        target="_blank">Khoa Phạm TPHCM</a></li>
                                <li><strong>Học online từ xa:</strong> <span>Không</span></li>
                                <li>
                                    <p>- <%= dulieu.dieukienhoc  %></p>
                                </li>
                                <li class="text-center">
                                    <a href="dang-ki-hoc.html">
                                        <button class="btn btn-link"
                                            style="text-transform:uppercase; font-weight:bold; width:100%">
                                            Đăng kí học
                                        </button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <% }) %>

            </div>
        </div>

    </div>
</section>
<!--================End Latest News Area =================-->


<%- include ("footer") -%>