<%- include ('header') -%>
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin/index">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">Trang Chủ</li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-6 col-sm-6 mb-6">
      <div class="card text-white bg-primary o-hidden h-100" id="lophoc" style="text-align: center;
      font-size: 30px;">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-comments"></i>
          </div>
          <div class="mr-5"> <a style="color: white !important;">TRANG CHỦ</a> </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-sm-6 mb-6" style="text-align: center;
    font-size: 30px;">
      <div class="card text-white bg-success o-hidden h-100" id="thuchi" style="text-align: center;">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-list"></i>
          </div>
          <div class="mr-5">
            <p> <a style="color: white !important;">THỐNG KÊ </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Area Chart Example-->
  <div class="card mb-3" style="height: 100% !important; " id="tklh">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      TRANG CHỦ NGƯỜI QUẢN TRỊ</div>
    <div class="card-body">
      <% if(user.quyenhang == "Admin")  { %>
      <p style="text-align: center;
        font-size: 40px;">XIN CHÀO ADMIN</p>
      <% } else { %>
      <p style="text-align: center;
          font-size: 40px;"> XIN CHÀO <%= user.tentaikhoan %></p>
      <% } %>

    </div>
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            SỐ SINH VIÊN ĐĂNG KÝ TRONG NGÀY</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tr>
                  <th class="canhgiua">STT</th>
                  <th class="canhgiua">Tên học viên</th>               
                  <th class="canhgiua">Số điện thoại</th>
                  <th class="canhgiua">Email</th>
                  <th class="canhgiua">Địa chỉ</th>
                  <th class="canhgiua">Lớp học đăng ký</th>
                </tr>
                <tbody>
                  <% let stt = 0 %> 
                  <% sinhvien[0].forEach(dulieu => { %>
                  <% stt++ %>
                  <tr>
                    <td class="canhgiua"><%= stt %></td>
                    <td class="canhgiua"><%= dulieu.tenkhachhang %></td>                 
                    <td class="canhgiua"><%= String(dulieu.sdt).replace(/(.)(?=(\d{3})+$)/g,'$1 ') %></td>
                    <td class="canhgiua"><%= dulieu.email %></td>
                    <td class="canhgiua"><%= dulieu.diachi %></td>
                    <td class="canhgiua"><%= dulieu.tenlophoc %></td>
                  </tr>
                  <%}); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
  
      <!-- Sticky Footer -->
  
  
    </div>
  </div>
  
  <div class="card mb-3" style="display: none;height: 100% !important; " id="tkthu">
  
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      <form style="margin-left: 3%;   margin-top: -2%;   position: absolute;" action="/admin/index/2020" method="POST" >
       Theo năm:<input type="text" id="nam" name="nam" pattern="[0-9]{4,4}" required value="2020"/>
        <br> <input type="submit" style="float: right; position: absolute;  margin-left: 105%;  margin-bottom: 0%;
        margin-top: -11%;" value="Chọn" onclick="getcube()" />
      </form>
    </div>

        <% if(data2.length > 0  || datathu[0].length > 0) {%> 
       
    <div>
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-info o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
              </div>
              <div class="mr-5"> TỔNG DOANH THU </div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">
                <p><%= String(tongThu[0][0].tong).replace(/(.)(?=(\d{3})+$)/g,'$1,') %> VND</p>
              </span>

            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-info o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-list"></i>
              </div>
              <div class="mr-5">SỐ LƯỢNG ĐĂNG KÝ</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">
                <p><%- tong[0][0].tong %> Sinh Viên </p>
              </span>

            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-info o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-life-ring"></i>
              </div>
              <div class="mr-5">SỐ LƯỢNG HỌC VIÊN</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left"><%- demhocvien[0][0].count %> Sinh Viên</span>

            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white bg-info o-hidden h-100">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fas fa-fw fa-shopping-cart"></i>
              </div>
              <div class="mr-5">SỐ LỚP HỌC ĐÃ MỞ</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">

              <span class="float-left"><%- demlop[0][0].count %> Lớp Học</span>

            </a>
          </div>
        </div>
      </div>     
      <div class="card-header">
        <i class="fas fa-table"></i>
        Hiển thị số tiền thu được</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <tr>
              <th class="canhgiua">STT</th>
              <th class="canhgiua">Tên lớp học</th>               
              <th class="canhgiua">Tiền</th>             
            </tr>
            <tbody>
              <% let stt1 = 0 %> 
              <% datathu[0].forEach(dulieu => { %>
              <% stt1++ %>
              <tr>
                <td class="canhgiua"><%= stt1 %></td>
                <td class="canhgiua"><%= dulieu.tenlophoc %></td>                 
                <td class="canhgiua"><%= String(dulieu.dem).replace(/(.)(?=(\d{3})+$)/g,'$1,') %> (VND)</td>               
              </tr>
              <%}); %>
            </tbody>
          </table>
        </div>
      </div>
     

    </div>
    <div class="card-body">
      <canvas id="myChart1"></canvas>
    </div>
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Thống kê sinh viên đăng ký các khóa học (%)
    </div>
    <div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <tr>
              <th class="canhgiua">STT</th>
              <th class="canhgiua">Tên lớp học</th>               
              <th class="canhgiua">Số sinh viên</th>             
            </tr>
            <tbody>
              <% let stt2 = 0 %> 
              <% data2.forEach(dulieu => { %>
              <% stt2++ %>
              <tr>
                <td class="canhgiua"><%= stt2 %></td>
                <td class="canhgiua"><%= dulieu.tenlophoc %></td>                 
                <td class="canhgiua"><%= String(dulieu.dem).replace(/(.)(?=(\d{3})+$)/g,'$1,') %></td>               
              </tr>
              <%}); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-body">
      <canvas id="myChartsvdk"></canvas>
    </div>

    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Thống kê khóa học được mở nhiều nhất (%)
    </div>
    <div>
    
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <tr>
              <th class="canhgiua">STT</th>
              <th class="canhgiua">Tên lớp học</th>               
              <th class="canhgiua">Số lớp đã mở</th>             
            </tr>
            <tbody>
              <% let stt3 = 0 %> 
              <% demsolop[0].forEach(dulieu => { %>
              <% stt3++ %>
              <tr>
                <td class="canhgiua"><%= stt3 %></td>
                <td class="canhgiua"><%= dulieu.tenlophoc %></td>                 
                <td class="canhgiua"><%= String(dulieu.dem).replace(/(.)(?=(\d{3})+$)/g,'$1,') %></td>               
              </tr>
              <%}); %>
            </tbody>
          </table>
        </div>
      </div
    </div>
    <div class="card-body">
      <canvas id="myCharkhoahoc"></canvas>
    </div>
  </div>
  <!-- DataTables Example -->

  <% } else { %> 
    <div class="card-body">     
      <p style="text-align: center;
        font-size: 40px;">KHÔNG CÓ DỮ LIỆU</p>
            </div>
  <% } %> 
</div>
<!-- /.container-fluid -->
<%- include ('footer') -%>