<%- include ('../header') -%>

<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin/index">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">KHÓA HỌC</li>
  </ol>


  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <!-- <i class="fas fa-table"></i>
            Data Table Example -->
            <div><a href="/admin/khoahoc/add" style="    color: #fff;
              float: right;
              height: 30px;
              font-weight: bold;
              font-size: 12px;
              text-shadow: none;
              min-width: 110px;
              border-radius: 0;
              line-height: 29px;
              background-color: #269abc;
              border-color: #c1c1c1;
              float: right;
              padding-left: 3%;"><i class="fas fa-plus"></i> Add </a>

          </div>

    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="canhgiua">STT</th>
              <th class="canhgiua">Tên khóa học</th>
              <th class="canhgiua">Loại khóa học</th>
              <!-- <th>Thời gian</th> -->
              <th class="canhgiua">Trạng thái</th>
              <th class="canhgiua">Hình ảnh</th>
              <th class="canhgiua">Xem lộ trình học</th>
              <th class="canhgiua">Tác vụ</th>

            </tr>
          </thead>
          <tbody>
            <% var stt = 0 %>
            <% data.forEach(dulieu => { %>
            <% stt++ %>
            <tr>
              <td class="canhgiua"><%= stt %></td>
              <td class="canhgiua"><%= dulieu.tenkhoahoc  %></td>
              <td class="canhgiua"><%= dulieu.loaikhoahoc %></td>
              <% if(dulieu.trangthai == 1) { %>
              <td class="canhgiua"> Được mở </td>
              <% }  %>
              <%  if(dulieu.trangthai == 0) { %>
              <td class="canhgiua">  Đang đóng </td>
              <% } %>

              <td class="canhgiua"><img style="width: 140px; height: 140px" src="../../../../uploadimg/<%= dulieu.hinhanh %>" alt="">
              </td>
              <td class="canhgiua"> <a href="/course/noidung/" style="color: blueviolet;"
                class="edit" title="Edit">
                <i class="fas fa-eye">&nbsp;</i></a></td>
              <td class="canhgiua" style="text-align: center;">
                <a href="/admin/khoahoc/update/<%= dulieu.id %>" style="color:greenyellow;" class="edit" title="Edit"    >
                  <i class="fas fa-edit"></i>&nbsp;</i></a>                  
              </td>

            </tr>


            <%}); %>
          
          </tbody>
        </table>
      </div>
    </div>
   
  </div>
 
</div>



<%- include ('../footer') -%>