<%- include ('../header') -%>
<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin/index">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">
      <% if(trangthai == 1) { %>
      Sắp khai giảng
      <% }  %>
      <%  if(trangthai == 0) { %>
      Đã hoàn thành
      <% } %>
      <%  if(trangthai == 2) { %>
      Đang học
      <% } %>
      <%  if(trangthai == 3) { %>
      Đang chờ
      <% } %>
    </li>
  </ol>


  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <!-- <i class="fas fa-table"></i>
            Data Table Example -->
      <div>
        <%  if(trangthai == 3 || trangthai == 1) { %>
        
               <a data-toggle="modal" data-target="#exampleModal" style="    color: #fff;
               float: right;
               height: 30px;
               font-weight: bold;
               font-size: 12px;
               text-shadow: none;
               min-width: 110px;
               border-radius: 0;
               line-height: 29px;
               background-color: #269abc;
               border-color: #c1c1c1;
               float: right;
               padding-left: 3%;"><i class="fas fa-plus"></i> Thêm </a>
        <% } %>


      </div>

    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="canhgiua">STT</th>
              <th class="canhgiua">Tên lớp học</th>
              <th class="canhgiua">Giảng viên</th>
              <th class="canhgiua">Số lượng học viên</th>
              <th class="canhgiua">Thời gian bắt đầu</th>
              <th class="canhgiua">Thời gian học</th>
              <th class="canhgiua">Thời lượng học</th>
              <th class="canhgiua">Phí dịch vụ</th>
              <!-- <th class="canhgiua">Điều kiện học</th> -->
              <th class="canhgiua">Phòng học</th>
              <th class="canhgiua">Trạng thái</th>
              <%  if(trangthai != 3) { %>
              <th class="canhgiua">Danh sách học viên</th>
              <% } %>

              <%  if(trangthai != 0) { %>
              <th class="canhgiua">Tác vụ</th>
              <% } %>


            </tr>
          </thead>
          <tbody>
            <% var stt = 0 %>
            <% data.forEach(dulieu => { %>
            <% stt++ %>
            <tr>
              <td class="canhgiua"><%= stt %></td>
              <td class="canhgiua"><%= dulieu.tenlophoc %></td>
              <td class="canhgiua"><%= dulieu.hoten %></td>
              <td class="canhgiua"><%= dulieu.soluonghocvien %></td>
              <td class="canhgiua"><%=  dates('{dd}/{mm}/{yyyy}', dulieu.thoigianbatdau)  %></td>
              <td class="canhgiua"><%=  dulieu.thoigianhoc  %></td>
              <td class="canhgiua"><%=  dulieu.thoiluonghoc  %> Tháng</td>
              <td class="canhgiua"> <%= String(dulieu.phidichvu).replace(/(.)(?=(\d{3})+$)/g,'$1,') %></td>
             
              <td class="canhgiua"><%= dulieu.tenphonghoc %></td>
              <% if(dulieu.trangthai == 1) { %>
              <td class="canhgiua">  <span class="badge badge-pill badge-success"> Sắp khai giảng </span></td>
              <% }  %>
              <%  if(dulieu.trangthai == 0) { %>
              <td class="canhgiua"> <span class="badge badge-pill badge-primary">  Đã hoàn thành </span></td>
              <% } %>
              <%  if(dulieu.trangthai == 2) { %>
              <td class="canhgiua">  <span class="badge badge-pill badge-info"> Đang học </span></td>
              <% } %>
              <%  if(dulieu.trangthai == 3) { %>
              <td class="canhgiua"> <span class="badge badge-pill badge-warning"> Đang chờ  </span></td>
              <% } %>
              <%  if(trangthai != 3) { %>
              <td class="canhgiua"> <a class="nav-link" href="/admin/lophoc/hocvien/<%= dulieu.id %>">
                  <i class="far fa-eye"></i> </a>
              </td>
              <% } %>
              <%  if(trangthai != 0) { %>
              <td class="canhgiua" style="text-align: center;">
                <a href="#" style="color: greenyellow;margin-left: -10%;" class="edit" title="Edit" data-toggle="modal"
                  data-target="#updatekh<%= dulieu.id %>">
                  <i class="fas fa-edit"></i>&nbsp;</i></a>
                <%  if(trangthai == 3 ) { %>
                <a href="#" style="color: red;margin-left: 15%;" class="delete" title="Delete" data-toggle="modal"
                  data-target="#delete<%= dulieu.id %>"> <i class="far fa-trash-alt"></i></a>
                <% } %>
                <div class="modal  fade" id="delete<%= dulieu.id %>" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bạn muốn xóa !!!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= dulieu.tenkhoahoc %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="/admin/lophoc/<%= dulieu.id %>">Yes</a>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="modal fade" id="updatekh<%= dulieu.id %>" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">SỬA LỚP HỌC</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="/admin/lophoc/<%= dulieu.id %>">
                          <div class="form-group col-lg-12" style="color: red;" id="errorupkh"></div>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">TÊN LỚP HOC:</label>
                            <input required type="text" value="<%= dulieu.tenlophoc %>" required name="tenlophoc"
                              class="form-control" id="recipient-name">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">GIẢNG VIÊN ĐỨNG LỚP :</label>
                            <select required name="id_giangvien" class="form-control">
                              <% giangvien.forEach(dl => { %>
                              <option value="<%= dl.id %>"> <%= dl.hoten %> -- <%= dl.linhvuc %></option>
                              <%}); %>
                            </select>
                          </div>
                         
                          <div class="form-group">
                            
                            <label for="message-text" class="col-form-label">THỜI GIAN HỌC:</label>
                            <input required type="text" required value="<%=  dulieu.thoigianhoc  %>" name="thoigianhoc"
                              class="form-control" id="txtTo">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">THỜI LƯỢNG HỌC:</label>
                            <input required type="text" required value="<%=  dulieu.thoiluonghoc  %>"
                              name="thoiluonghoc" class="form-control" id="txtTo">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">HỌC PHÍ:</label>
                            <input type="text" required
                              value="<%= String(dulieu.phidichvu).replace(/(.)(?=(\d{3})+$)/g,'$1') %>" name="phidichvu"
                              class="form-control" id="txtTo">
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">ĐIỀU KIỆN:</label>
                            <textarea required name="dieukienhoc" class="form-control" id="recipient-name" rows="10"
                              cols="30"><%= dulieu.dieukienhoc %></textarea>
                          </div>
                          <div class="form-group">
                            <% let d = dates('{yyyy}-{mm}-{dd}', dulieu.thoigianbatdau)  %>
                            <% let now = new Date() %>
                            <% let n = dates('{yyyy}-{mm}-{dd}', now)  %>
                            <label for="message-text" class="col-form-label">NGÀY BẮT ĐẦU:</label>
                            <input min="<%= d %>" required type="date"  value="<%-  d %>" name="thoigianbatdau" class="form-control"
                              id="txtFrom">
                          </div>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">SỐ LƯỢNG HỌC VIÊN:</label>
                            <input required type="text" pattern="[0-9]{2,3}" value="<%= dulieu.soluonghocvien %>"
                              required name="soluonghocvien" class="form-control" id="recipient-name">
                          </div>
                          <div class="form-group">                           
                            <label for="message-text" class="col-form-label">PHÒNG HỌC:</label>
                            <select required name="id_phonghoc" class="form-control">
                              <option value="<%= dulieu.id_phonghoc %>"> <%= dulieu.tenphonghoc %> </option>
                              <% phonghoc.forEach(dl => { %>
                              <option value="<%= dl.id %>"> <%= dl.tenphonghoc %> -- <%= dl.hientrang %> -- <%= dl.soluongnguoi %> người</option>
                              <%}); %>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">TRẠNG THÁI:</label>
                            <select name="trangthai" class="form-control">
                              <% if(dulieu.trangthai == 3) { %>
                              <option value="3">Đang chờ</option>
                              <option value="1">Sắp khai giảng</option>
                              <% }  %>
                              <%  if(dulieu.trangthai == 2) { %>
                              <option value="2">Đang học</option>
                              <option value="0">Đã hoàn thành</option>
                              <% } %>
                              <%  if(dulieu.trangthai == 1) { %>
                              <option value="1">Sắp khai giảng</option>
                              <option value="2">Đang học</option>
                              <% } %>
                              <%  if(dulieu.trangthai == 0) { %>
                              <option value="0">Đã hoàn thành</option>
                              <option value="2">Đang học</option>
                              <% } %>
                              <input type="text" hidden name="ttcu" value="<%= dulieu.trangthai %> ">
                            </select>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">THOÁT</button>
                            <input type="submit" class="btn btn-primary" value="SỬA LỚP HỌC">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <% } %>
            </tr>
            <%}); %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>



<%- include ('addlophoc') -%>
<%- include ('../footer') -%>